{%load static %}

<!DOCTYPE html>

<head>

</head>
<body>
    
    {{review.order.name.all}}
    <br>
    <form method="POST">
        {% csrf_token %}
        {% for item in review.order.items.all %}

        {{item.name}}
        <div>
            <label for="{{item.name}}">Review this Item</label>
            <input type="hidden" name="items[]" value="{{ item.pk }}">
            <input type="number" min= "0" max="10" name="{{ item.name}}" placeholder="Rate!">  
    
        {% endfor %} 
        {% if is_delivery %}
            <select id="delivery_rating" name="review delivery">

                <option value = "complain">Complain</option>
                <option value = "compliment">Compliment</option>
                <option value = "">Omit</option>
            </select>      
            <input type="number" placeholder="Rate delivery" name="rating_number"/>
        </div>
            {% else %}
            <select id="chef_rating" name="review chef">

                <option value = "complain">Complain</option>
                <option value = "compliment">Compliment</option>
                <option value = "">Omit</option>
            </select>      
            <input type="hidden" name="subject" value="{{item.chef_name}}"/>
            <input type="number" placeholder="Rate delivery" name="rating_number"/>
        </div>

            {% endif %}
        <input type="text" placeholder="What did you think" name="description"/>
        <button>Submit</button>
    </form>


</body>



