{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pipin' Hot</title>
    <link rel = "stylesheet" href = "{% static '/css/defaultHome.css' %}">
    <link rel = "stylesheet" href = "{% static '/css/header.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Diplomata">
    {% block css %}
    {% endblock %}
</head>
<style>
    h1 {
        margin-top: 2.5vw;
        font-size: 2vw;
        font-family: "Garamond", sans-serif;
        text-align: center;
    }
    p {
        font-size: 14px;
        font-family: "Garamond", sans-serif; 
    }
</style>
<body>
    <nav style="height: 45px;">
        <ul class="navbar">
            <li><a href="{% url 'ordersNav' %}">ORDER</a></li>
            <li><a href="{% url 'menuNav' %}">MENU</a></li>
            <li><a href="{% url 'forumNav' %}">FORUM</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'dashNav' %}">DASHBOARD</a></li>
            <li><a href="{% url 'logoutNav' %}">LOGOUT</a></li>
            {% else %}
            <li><a href="{% url 'regNav' %}">REGISTER</a></li>
            <li><a href="{% url 'loginNav' %}">LOGIN</a></li>
            {% endif %}
        </ul>
    </nav>
    <div id = "header">
        PIPIN' HOT
    </div>


    {% block content %}
    <div class = "restaurantContainer">
        <img src="{% static 'restaurant.jpg' %}"/>
    </div>

    <div class="grid">
        <h1 class="head">Restaurant Hours</h1>
        <p class="leftCell">Mon-Fri:</p>
        <p class="rightCell">10AM-10PM</p>
        <p class="leftCell">Sat:</p>
        <p class="rightCell">10AM-10PM</p>
        <p class="leftCell">Sun:</p>
        <p class="rightCell">Closed</p>
    </div>
    {% endblock %}
</body>
</html>