{% extends 'deliveryBase.html' %}


{% block content %}

    <div class="row justify-content-center mt-4">
        <img src="../../../static/Pipin-Hot.png"
        width="600"
        height="75"/> 
    </div>

    <div class="row justify-content-center mt-4">
        <h2 class="text-center" pt-2 style="color: rgb(16, 13, 13);">Bidding Menu</h2>
    </div>
    
    <div class="row justify-content-center mt-4">
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row justify-content-center mt-4"> 
                <button type="submit">Bid Now</button>
            </div>
        </form>
    </div>

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-12 mt-5">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Lowest Bid</th>
                            <th scope="col">Delivery Guy</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for bids in allbids %}
                        <tr>
                            <th scope="row">{{ bids.Order }}</th>
                            <th scope="row">{{ bids.Bid_Amount }}</th>
                            <th scope="row">{{ bids.Name }}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}