.foodContainer {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 3vw;
    flex-direction: row;
    outline-style: double;
}

.foodContainer img {
    width: 5.5vw;
    height: 5.5vw;
    display: inline;
}

.pictureContainer {
    display: block;
}

body {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 35px;
    flex-direction: column;
}

.headerLogo {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.foodTitle {
    font-weight: bold; 
    display: inline; 
    margin-right: 2.75vw; 
    font-size: 1.0vw; 
    font-family: Garamond, serif;
}

.foodInfo {
    display: inline; 
    font-size: 0.9vw; 
    font-family: Garamond, serif;
}

.foodDesc {
    font-size: 0.9vw; 
    font-family: Garamond, serif;
    width: 20vw;
    font-style: italic;
}

.itemContainer {
    width: 30vw;
    height: auto;
}

