.container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 3vw;
    flex-direction: row;
}

/* BUTTON */
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    position: absolute;
    right: 20px;
    bottom: 100px;

    background: grey;
    border-radius: 4px;
}
/* END BUTTON */

/* RESTUARANT PICTURE */
.restaurantContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 10vw;
}

.restaurantContainer img {
    width: 60%;
    height: auto;
}
/* END RESTAURANT PICTURE */

/* RESTAURANT HOURS */
.grid {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows:  35px 20px 20px 20px;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}

.head {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
}

.leftCell {
    justify-self: left;
}

.rightCell {
    justify-self: center;
}
/* END RESTAURANT HOURS */