.container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 3vw;
    flex-direction: row;
}

/* BUTTON */
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    position: absolute;
    right: 20px;
    bottom: 100px;

    background: grey;
    border-radius: 4px;
}
/* END BUTTON */