{% extends 'defaultHome.html' %}

{% block css %}
<style>
.grid-container {
    position: absolute;
    display: grid;
    margin: 12.5vw;
    width: 75vw;
    justify-content: space-evenly;

    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    column-gap: 1vw;
}
.grid-item {
    display: flex;
    background-color: darkgrey;
    justify-content: center;
}
</style>
{% endblock %}


{% block content %}
    <div class="grid-container">
        <div class="grid-item">
            <a href= "{% url 'customer_register' %}"> Je suis customer</a>
        </div>
        <div class="grid-item">
            <a href= "{% url 'chef_register' %}"> Je suis Chef</a>
        </div>
        <div class="grid-item">
            <a href="{% url 'deliverer_register' %}"> Je suis Deliverer</a>
        </div>
    </div>       
{% endblock %}