{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chef Menu Management</title>
    <link rel = "stylesheet" href = "{% static '/css/chefMenu.css' %}">
</head>
<style>
    h1 {
        font-size: 2.5vw;
        font-family: "Garamond", serif;
        text-align: center;
    }
</style>
    
<body>

    
    <img src="{% static 'Pipin-Hot.png' %}"/>
    <h1> Menu Management </h1>
   

    <!--  comment here -->
    <div class = "foodContainer">
        <div>
            {% for item in foodList %}
            
                <u1 style = "list-style: none;">
    
                    <li style = "padding: 20px;"> 
                        <p style = "display: inline; margin-right: 3vw;">
                            <img src = "\media\uploads\Chicken-Quesadillas-2.jpg">
                        </p>
                    </li>
    
                </u1>
            
            {% endfor %}
            </div>

        <div>
        {% for item in foodList %}
        
            <u1 style = "list-style: none;">

                <li style = "padding: 20px;"> 
                    <p style = "display: inline; margin-right: 7vw;">
                        {{ item.name }} 
                    </p>
                </li>

            </u1>
        
        {% endfor %}
        </div>

        <div>
        {% for item in foodList %}
        
            <u1 style = "list-style: none;">
            
                <li style = "padding: 20px;"> 
                    
                    <p style = "display: inline">
                        {{ item.price }}
                    </p>
                </li>

            </u1>
        
        {% endfor %}
        </div>
    
    </div>
    
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Add Item</button>
    </form>
</body>
</html>