{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Images</title>
    <link rel = "stylesheet" href = "{% static '/css/chefMenu.css' %}">
</head>
<style>
    h1 {
        font-size: 2.5vw;
        font-family: "Garamond", serif;
        position: relative;
        left: 2.0vw; 
    }
</style>
<body>
    <div class = "leftContainer">
        <img src="{% static 'Pipin-Hot.png' %}"/>
        <h1> Menu Management </h1>
    </div>
    
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</body>
</html>