{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pipin' Hot</title>
    <link rel = "stylesheet" href = "{% static '/css/header.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Diplomata">
</head>
<style>
    h1 {
        margin-top: 2.5vw;
        font-size: 2vw;
        font-family: "Garamond", sans-serif;
        text-align: center;
    }
</style>
<body>
    <div class = "header">
        PIPIN' HOT
    </div>

    <h1> Home </h1>

    <nav>
        <ul>
            <li><a href="{% url 'ordersNav' %}">ORDER</a></li>
            <li><a href="{% url 'menuNav' %}">MENU</a></li>
        </ul>
    </nav>

</body>
</html>